body {
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: larger;
    color: darkorange;
}