@media print {
    .background-popup, .nav, #toolsIcon{
        display: none;
    }

  #subjectTextfieldId{
    height: 50px;
    border-radius: 4px;
    font-size: 30px;
    border: none;
    margin: 10px 0;
    padding-left: 11px;
  }
  .tox-tinymce {
    border: none!important;
    height: calc(100vh - 70px)!important;
    box-shadow:  0 4px 8px 0 rgba(15, 15, 15, 0.2)!important;
  }
}