@media print {
  .background-popup,
  .nav,
  #toolsIcon {
    display: none;
  }
  #subjectTextfieldId {
    width: 100%;
    text-align: center;
    align-self: center;
    font-size: 30px;
    border: none !important;
  }
  .tox-tinymce {
    border: none !important;
    width: 100%;
    height: 100%;
    height: calc(100vh - 70px)!important;
  }
  .toolbar {
    display: none;
  }

}
