*{
    margin: 0;
    padding: 0;
}
body {
    /* background-color: beige; */
    /* min-height: 100vh; */
}

.container{
    display: flex;
    /* background-color: rgb(10, 115, 206); */
    min-height: 100vh;
}

.leftSide{
    display: flex;
    flex: 1;
    background-color: rgb(230, 225, 225);
    flex-direction: column;
    /* align-self: stretch; */
    min-height: 80vh;
    box-shadow:  0 4px 8px 0 rgba(15, 15, 15, 0.2); 
    border-radius: 5px;
    margin: 20px;
}
.rightSide{
    display: flex;
    flex: 3;
    flex-direction: column;
    background-color: rgb(75, 75, 75);
    box-shadow:  0 4px 8px 0 rgba(15, 15, 15, 0.2); 
    border-radius: 5px;
    margin: 20px;
}

section .rightSide{
    min-height: 80vh;
}
.mytextareaClass{
    min-height: 80vh;
}



/* //Dynamic div tags */
.divTag{
    /* width: 90%; */
    background-color: rgb(157, 157, 235);
    display: inline-block;
    /* border: 1px solid black; */
    margin: 5px;
    padding: 3px;
    border-radius: 3px;
}
.divTag:hover{
    background-color: cornflowerblue;
}

.tox-statusbar{
    display: none !important;
}

#saveBtn, #clearLocalStorage{
    height: 40px;
}


/*** HÄR BÖRJAR CSS FÖR POPUP RUTAN ***/

.button-bg /*popupen lägger sig över hela sidan*/
{
  position: fixed;
  width: 100%;
  height: 100vh; 
  top: 0; 
  left: 0;
  background-color:rgb(0,0,0,0.5);
  display: flex;
  justify-content:center;
  align-items:center;  
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s; 
  z-index: 2;
}

.bg-active /*popup rutan blir synlig*/
{
  visibility: visible; 
  opacity: 1;
}

.popup /*Själva popup rutan*/
{
  position: relative;
  background-color: red; 
  max-width: 50%;
  max-height: 50%;
  display: flex;
  justify-content: space-around;
  align-items:center; 
  flex-direction: column; 
  border-radius: 20px;
}

.x-close {
  position: absolute;
  top: 10px;
  right: 13px; 
  font-size: 8px;
  cursor: pointer;
}
.x-close:focus{
  font-size: 14px;
  padding: 5px;
  border: 1px solid black;
}

h2 {
    padding: 20px;
    margin: 20px;
}

.informationText {
    padding: 20px;
    margin: 20px;
}
