@import url("https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:400,600");


* {
  margin: 0;
  padding: 0;
}


main {
  display: flex;
  height: 100%;
}


body {
  background-color: white;
  /* min-height: 100vh;  */
}

header {
  font-family: sans-serif;
  font-size: 2em;
  text-align: center;
  background-image: linear-gradient(to bottom right,
      rgb(240, 160, 160),
      rgb(235, 235, 101));
  border-bottom: solid rgb(228, 151, 151);
  display: flex;
  position: fixed;
  width: 100%;
  height: 100px;
  background: #212121;
  color: #fff;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
  display: flex;
  /* background-color: rgb(10, 115, 206); */
  /*   min-height: 100vh; */
  margin-right: 5px;
  margin-left: 1px;
}

.leftSide {
  display: flex;
  flex: 1;
  background-color: rgb(230, 225, 225);
  flex-direction: column;
  /* align-self: stretch; */
  min-height: 80vh;
  box-shadow: 0 4px 8px 0 rgba(15, 15, 15, 0.2);
  margin: 50px 2px 0px 5px;
  border-right: solid rgb(228, 151, 151);
  padding-top: 10px;
}

.rightSide {
  display: flex;
  flex: 5;
  flex-direction: column;
  /* background-color: rgb(75, 75, 75); */
  /* box-shadow:  0 4px 8px 0 rgba(15, 15, 15, 0.2);  */
<<<<<<< HEAD
  border-radius: 5px;
  margin-top: 100px;
=======
/*   border-radius: 5px;
  margin: 100px 5% 5% 10%; */
>>>>>>> 147023964c439a634547f89e7b0e5e595d8102ab
  align-items: stretch;
}

.tox-platform-touch {
  position: fixed;
  z-index: 1 !important;
}

section .rightSide {
  min-height: 80vh;
}

.mytextareaClass {
  min-height: 80vh;
}

.tox-tinymce {
 border: none!important ;
 width: 100%;
}

/* //Dynamic div tags */
.divTag {
  /* width: 90%; */
  background-color: rgb(157, 157, 235);
  display: inline-block;
  /* border: 1px solid black; */
  margin: 5px;
  padding: 3px;
  border-radius: 3px;
}

.divTag:hover {
  background-color: cornflowerblue;
}

.tox-statusbar {
  display: none !important;
}

.tox .tox-editor-header{
  position: relative !important;
  z-index: -1 !important;
}

/*** HÄR BÖRJAR CSS FÖR POPUP RUTAN ***/

.button-bg

/*popupen lägger sig över hela sidan*/
  {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
  transition-duration: 4s;
  z-index: 2;
}

.bg-active

/*popup rutan blir synlig*/
  {
  visibility: visible;
  opacity: 1;
}

.popup

/*Själva popup rutan*/
  {
  position: relative;
  background-color: white;
  min-width: 40%;
  min-height: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 4px;
  flex-wrap: wrap;
  box-shadow: 0 4px 8px 0 rgba(15, 15, 15, 0.342);
}

h2 {
  padding: 10px;
  margin-top: 30px;
}

.informationText {
  padding: 10px;
  margin: 10px;
}

ul {
  list-style: square inside none;
  margin: 10px;
  padding: 10px;
}

li {
  margin: 15px;
}

/*** "GOT IT, THANKS" KNAPPEN I POPUPEN ***/
.x-close {
  color: black;
  transition: all 0.5s;
  position: relative;
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 200px;
  cursor: pointer;
  border: none;
  margin-bottom: 20px;
}

.x-close::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(86, 160, 76, 0.616);
  transition: all 0.3s;
}

.x-close:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}

.x-close::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(86, 160, 76, 0.795);
  transform: scale(1.2, 1.2);
}

.x-close:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}

/* SUBJECT FIELD INPUT */
#subjectTextfieldId {
  height: 50px;
  border-radius: 0px;
  font-size: 30px;
  border: none;
  padding-left: 40px;
  padding-top: 10px;
}

#subjectTextfieldId:focus {
  outline: none;
}

<<<<<<< HEAD
/* EMMAS MENY TEST*/
#menuToggle
 {
   display: block;
   position: absolute;
   top: 40px;
   left: 50px;
   z-index: 1;
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle a
 {
   text-decoration: none;
   color: #232323;
   
   transition: color 0.3s ease;
 }
 
 #menuToggle a:hover
 {
   color: tomato;
 }
 
 
 #menuToggle input
 {
   display: block;
   width: 30px;
   height: 30px;
   position: absolute;
   top: -7px;
   left: -5px;
   
   cursor: pointer;
   
   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */
   
   -webkit-touch-callout: none;
 }
 
 /*
  * hamburger
  */
 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   background: #cdcdcd;
   border-radius: 3px;
   z-index: 1;
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #232323;
 }
 
 /*
  * But let's hide the middle one.
  */
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 /*
  * Ohyeah and the last one should go the other direction
  */
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 /*
  * Make this absolute positioned
  * at the top left of the screen
  */
 #menu
 {
   position: absolute;
   height: calc(100vh - 169px);
   width: 300px;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;
   background: #ededed;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;  
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li
 {
   padding: 10px 0;
   font-size: 22px;
 }
 
 /*
  * And let's slide it in from the left
  */
 #menuToggle input:checked ~ ul
 {
   transform: none;
 }
/*EMMAS TEST SLUT*/
=======

/* LEFT MENU */

#nav-container {
  position: fixed;
  height: 100vh;
  width: 100%;
  pointer-events: none;
  z-index: 10;
}

#nav-container .bg {
  position: absolute;
/*   top: 70px; */
  left: 0;
  width: 100%;
  height: calc(100%);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  background: #000;
}

#nav-container:focus-within .bg {
  visibility: visible;
  opacity: 0.6;
}

#nav-container * {
  visibility: visible;
}

.button {
  float: left;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  border-radius: 0;
  height: 70px;
  width: 30px;
  cursor: pointer;
  pointer-events: auto;
  margin-left: 25px;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.icon-bar {
  display: block;
  width: 100%;
  height: 3px;
  background: #aaa;
  transition: 0.3s;
}

.icon-bar+.icon-bar {
  margin-top: 5px;
}

#nav-container:focus-within .button {
  pointer-events: none;
}

#nav-container:focus-within .icon-bar:nth-of-type(1) {
  transform: translate3d(0, 8px, 0) rotate(45deg);
}

#nav-container:focus-within .icon-bar:nth-of-type(2) {
  opacity: 0;
}

#nav-container:focus-within .icon-bar:nth-of-type(3) {
  transform: translate3d(0, -8px, 0) rotate(-45deg);
}

#nav-content {
  margin-top: 70px;
  padding: 20px;
  width: 90%;
  max-width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  height: calc(100% - 70px);
  background: #ececec;
  pointer-events: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateX(-100%);
  transition: transform 0.3s;
  will-change: transform;
  contain: paint;
}
>>>>>>> 147023964c439a634547f89e7b0e5e595d8102ab

#nav-container:focus-within #nav-content {
  transform: none;
}

/* MEDIA QUERIES */


@media screen and (max-width: 992px) {
  .rightSide {
    flex: 5;
  }

  .leftSide {
    font-size: 80%;
  }
}

@media screen and (max-width: 376px) {
  .leftSide {
    font-size: 70%;
  }
}

<<<<<<< HEAD
.tox-tinymce {
  border: none!important;
  height: calc(100vh - 160px)!important;
}

.tox-editor-header {
  padding-left: 30px!important;
}
=======
/* ************************************ */
#subjectTextfieldId{
    background-color: rgba(233, 226, 122, 0.322);
    height: 40px;
    border-radius: 0px;
    margin-bottom: 10px;
    font-size: large;
    border: solid 1px rgba(128, 128, 128, 0.466);
    padding-left: 5px;
}
#subjectTextfieldId:focus{
    outline: none;
}

.star:hover, .favstar:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

.pDate{
    display: absolute;
    text-align: right;
    font-size: smaller;
    color: rgb(110, 110, 110);
    font-style: italic;
    border-radius: 2px;
}


>>>>>>> 147023964c439a634547f89e7b0e5e595d8102ab
